<!-- CONTAINER PRINCIPAL -->
<div class="container mat-elevation-z8">

  <!-- TÍTULO DA PÁGINA -->
  <h1>Deletar Cliente</h1>

  <!-- FORMULÁRIO -->
  <form class="form" [formGroup]="form">
  
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput
        placeholder="***"
        formControlName="nome" readonly>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Login PPPoE/Contrato</mat-label>
      <input matInput formControlName="login" 
      placeholder="***" maxlength="64" readonly>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Tipo de Cliente</mat-label>
      <input matInput placeholder="***" formControlName="tipoCliente" readonly>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CPF/CNPJ</mat-label>
      <input matInput placeholder="***" formControlName="cpfCnpj" 
        [mask]="cpfCnpjMask" readonly>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput
        placeholder="***"
        formControlName="email" readonly>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Celular</mat-label>
      <input matInput
        placeholder="***"
        formControlName="celular"
        mask="(00) 00000-0000" readonly>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>telefone</mat-label>
      <input matInput
        placeholder="***"
        formControlName="celular"
        mask="(00) 0000-0000" readonly>
    </mat-form-field>

    <!-- BOTÕES DE AÇÃO -->
    <button (click)="delete()" mat-button class="btn-deletar">DELETAR</button>
    <button mat-button class="btn-cancelar" (click)="cancelActions()">CANCELAR</button>

   </form>

</div>