<!-- CONTAINER PRINCIPAL -->
<div class="container mat-elevation-z8">

  <!-- TÍTULO DA PÁGINA -->
  <h1>Deletar Cliente</h1>

  <!-- FORMULÁRIO -->
  <form class="form" [formGroup]="form">
  
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput
        placeholder="Entre 10 e 60 caracteres"
        formControlName="nome">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Login PPPoE/Contrato</mat-label>
      <input matInput formControlName="login" placeholder="Entre 6 e 64 caracteres" maxlength="64">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Tipo de Cliente</mat-label>
      <mat-select formControlName="tipoCliente" (selectionChange)="onTipoClienteChange()">
        <mat-option value="Pessoa Física">Pessoa Física</mat-option>
        <mat-option value="Pessoa Jurídica">Pessoa Jurídica</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CPF/CNPJ</mat-label>
      <input matInput placeholder="digite apenas números" formControlName="cpfCnpj" 
        [mask]="cpfCnpjMask" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput
        placeholder="Digite o e-mail"
        formControlName="email">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Celular</mat-label>
      <input matInput
        placeholder="digite apenas números"
        formControlName="celular"
        mask="(00) 00000-0000">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>telefone</mat-label>
      <input matInput
        placeholder="digite apenas números"
        formControlName="celular"
        mask="(00) 0000-0000">
    </mat-form-field>

    <!-- BOTÕES DE AÇÃO -->
    <button (click)="delete()" mat-button class="btn-deletar">DELETAR</button>
    <button mat-button class="btn-cancelar" (click)="cancelActions()">CANCELAR</button>

   </form>

</div>