/* --------- AJUSTES PARA TELAS GRANDES --------- */

.container {
    width: 100%;
}

/* ESTILOS DO H1 (TÍTULO PRINCIPAL) */
h1 {
    color: white;
    padding: 0.75rem 2rem;
    font-size: clamp(1.5rem, 3vw, 2rem);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.5px;
    background: linear-gradient(90deg, rgb(39, 141, 45) 0%, #000 100%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
