<!-- CONTAINER PRINCIPAL -->
<div class="container mat-elevation-z8">

  <!-- TÍTULO DA PÁGINA -->
  <h1>Novo Chamado</h1>

  <!-- FORMULÁRIO DE CADASTRO -->
  <form class="form" [formGroup]="form">
      
      <mat-form-field class="full-width">
        <mat-label>Selecione o Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option value="0">Instalação</mat-option>
          <mat-option value="1">Reparo</mat-option>
          <mat-option value="2">Financeiro</mat-option>
          <mat-option value="3">Cancelamento</mat-option>
        </mat-select>
      </mat-form-field>

    <div class="status-prioridade">

      <mat-form-field>
        <mat-label>Selecione o Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="0">Aberto</mat-option>
          <mat-option value="1">Em Andamento</mat-option>
          <mat-option value="2">Encerrado</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Selecione a Prioridade</mat-label>
        <mat-select formControlName="prioridade">
          <mat-option value="0">Baixa</mat-option>
          <mat-option value="1">Média</mat-option>
          <mat-option value="2">Alta</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="tecnico">
      <mat-form-field class="full-width">
        <mat-label>Selecione o Técnico</mat-label>
        <mat-select formControlName="tecnico">
          <mat-option *ngFor="let tec of tecnicos" [value]="tec.id">
            {{ tec.nome }}, CPF: {{ tec.cpfCnpj | mask: '000.000.000-00' }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="cliente">
      <mat-form-field class="full-width">
        <mat-label>Selecione o Cliente</mat-label>
        <mat-select formControlName="cliente">
          <mat-option *ngFor="let cli of clientes" [value]="cli.id">
            {{ cli.nome }}, login/contrato: {{ cli.login }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width observacoes" appearance="outline">
      <mat-label>Relato sobre o chamado</mat-label>
      <textarea class="observacoes" matInput formControlName="observacoes"
        placeholder="Exemplo: Cliente entra em contato relatando ..."
        maxlength="1000">
      </textarea>
    </mat-form-field>

    <!-- BOTÕES DE AÇÃO -->
    <button (click)="create()" [disabled]="!validaCampos()" mat-button class="btn-criar">CRIAR</button>
    <button mat-button class="btn-cancelar" (click)="cancelar()">CANCELAR</button>

  </form>

</div>
