<div class="container mat-elevation-z8">

  <h1>Novo Chamado</h1>

  <form class="form" [formGroup]="form">

    <!-- CAMPO TÍTULO -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Título do Chamado</mat-label>
      <input matInput formControlName="titulo" placeholder="Exemplo: Troca de ONU" maxlength="60">
    </mat-form-field>

    <!-- STATUS E PRIORIDADE -->
    <div class="status-prioridade">
      <!-- STATUS -->
      <mat-form-field>
        <mat-label>Selecione o Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="0">Aberto</mat-option>
          <mat-option value="1">Em Andamento</mat-option>
          <mat-option value="2">Encerrado</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- PRIORIDADE -->
      <mat-form-field>
        <mat-label>Selecione a Prioridade</mat-label>
        <mat-select formControlName="prioridade">
          <mat-option value="0">Baixa</mat-option>
          <mat-option value="1">Média</mat-option>
          <mat-option value="2">Alta</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- SELECIONAR TÉCNICO -->
    <div class="tecnico">
      <mat-form-field class="full-width">
        <mat-label>Selecione o Técnico</mat-label>
        <mat-select formControlName="tecnico">
          <mat-option value="0">Paulo Vitor</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- SELECIONAR CLIENTE -->
    <div class="cliente">
      <mat-form-field class="full-width">
        <mat-label>Selecione o Cliente</mat-label>
        <mat-select formControlName="cliente">
          <mat-option value="0">Rogério Caçador</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- CAMPO DESCRIÇÃO -->
    <mat-form-field class="full-width descricao" appearance="outline">
      <mat-label>Relato sobre o chamado</mat-label>
      <textarea class="descricao" matInput formControlName="descricao"
        placeholder="Exemplo: Cliente entra em contato relatando ..."
        maxlength="500">
      </textarea>
    </mat-form-field>

    <!-- BOTÕES -->
    <button (click)="create()" [disabled]="!validaCampos()" mat-button class="btn-criar">CRIAR</button>
    <button mat-button class="btn-cancelar" (click)="confirmarCancelamento()">CANCELAR</button>

  </form>

</div>
