/* --------- AJUSTES PARA TELAS GRANDES --------- */

/* ESTILOS PARA O CARD */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar o card */
    width: 90%;
    margin: auto;
}

/* ESTILO PARA A IMAGEM DO CARD */
.card img {
    width: 30%; /* Ocupa toda a largura disponível do contêiner */
    margin: 1rem auto; /* Ajusta o espaçamento ao redor */
    display: flex; /* Garante que a imagem seja tratada como um bloco */
}

/* ESTILO PARA AÇÕES DO CARD */
mat-card-actions {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    flex-wrap: wrap; /* Permite que os botões se ajustem em múltiplas linhas se necessário */
    gap: 1rem; /* Espaço entre os botões */
    margin-top: 1rem;
    width: 100%;
}

/* ESTILO PARA OS BOTÕES */
mat-card-actions button {
    background-color: rgb(39, 141, 45); /* Tom verde escuro */
    color: rgb(255, 255, 255);
    border: none; /* Remove bordas padrão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 0.5rem 1.5rem; /* Ajusta o espaçamento interno */
    font-size: 0.8rem; /* Tamanho de fonte adequado */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    
}

/* EFEITO DE HOVER PARA OS BOTÕES */
mat-card-actions button:hover {
    background-color: #6ac26a; /* Tom mais claro ao passar o mouse */
}

mat-card-title {
    font-size: 1.6rem;
}


/* --------- AJUSTE RESPONSIVO PARA TELAS MENORES --------- */

@media (max-width: 768px) {
    .card {
        flex: 1; /* Permite que o conteúdo expanda */
        margin-top: 1rem; /* Ajusta a distância entre o card e o cabeçalho */
    }

    .card img {
        display: none; /* Oculta imagem em telas menores */
    }

    mat-card-title {   
        text-align: left; /* Alinha o texto à esquerda em telas menores também */
        font-size: 1.5rem;
        margin: auto;
    }

    mat-card-actions {
        flex-direction: column; /* Alinha os botões verticalmente em telas menores */
        gap: 0.8rem; /* Aumenta o espaço entre os botões em telas menores*/
    }

    mat-card-actions button {
        width: 100%; /* Botões ocupam toda a largura em telas*/
        text-align: center; /* Texto centralizado */
    }
}