/* --------- AJUSTES PARA TELAS GRANDES --------- */

/* ESTILOS PARA O CARD */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 75%;
    height: 75%;
    margin: auto;
}

/* ESTILO PARA A IMAGEM DO CARD */
.card img {
    width: 30%;
    margin: 1rem auto;
    display: flex;
}

/* ESTILO PARA O TÍTULO DO CARD */
mat-card-title {
    font-size: 1.6rem;
}

/* ESTILO PARA AÇÕES DO CARD */
mat-card-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

/* ESTILO PARA OS BOTÕES */
mat-card-actions button {
    background-color: rgb(39, 141, 45);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}

/* EFEITO DE HOVER PARA OS BOTÕES */
mat-card-actions button:hover {
    background-color: #6ac26a;
}

/* --------- AJUSTE RESPONSIVO PARA TELAS MENORES --------- */

@media (max-width: 768px) {

    /* ESTILOS PARA O CARD */
    .card {
        margin-top: 1rem;
    }

    /* ESTILO PARA A IMAGEM DO CARD */
    .card img {
        display: none; /* Oculta a imagem nas telas menores */
    }

    /* ESTILO PARA AÇÕES DO CARD */
    mat-card-actions {
        flex-direction: column;
        gap: 0.8rem;
    }

    /* ESTILO PARA OS BOTÕES */
    mat-card-actions button {
        width: 100%; /* Os botões ocupam toda a largura disponível */
        text-align: center;
    }

    /* ESTILO PARA O TÍTULO DO CARD */
    mat-card-title {   
        text-align: left;
        font-size: 1.5rem;
        margin: auto;
    }
}

/* --------- AJUSTE RESPONSIVO PARA TELAS MENORES (MAX-WIDTH: 480PX) --------- */

@media (max-width: 480px) {

    /* ESTILOS PARA O CARD */
    .card {
        margin-top: 1rem;
        width: 100%; /* O cartão ocupa toda a largura disponível */
    }

    /* ESTILO PARA A IMAGEM DO CARD */
    .card img {
        display: none; /* Esconde a imagem em telas pequenas */
    }

    /* ESTILO PARA AÇÕES DO CARD */
    mat-card-actions {
        flex-direction: column;
        gap: 0.6rem;
        margin-top: 1rem; /* Ajusta o espaçamento superior */
    }

    /* ESTILO PARA OS BOTÕES */
    mat-card-actions button {
        width: 100%; /* Os botões ocupam toda a largura disponível */
        text-align: center;
        font-size: 1rem; /* Aumenta o tamanho da fonte para facilitar a leitura */
        padding: 0.6rem 1.2rem; /* Ajusta o padding para os botões */
    }

    /* ESTILO PARA O TÍTULO DO CARD */
    mat-card-title {   
        display: none; /* Esconde o título nas telas menores */
    }
}
