<!-- CARTÃO QUE CONTÉM AS PRINCIPAIS FUNCIONALIDADES -->
<mat-card class="card" appearance="outlined">
    
    <!-- CABEÇALHO DO CARTÃO -->
    <mat-card-header>
        <!-- TÍTULO DO CARTÃO -->
        <mat-card-title>Principais Funcionalidades</mat-card-title>
    </mat-card-header>

    <!-- CONTEÚDO DO CARTÃO -->
    <mat-card-content>
        <!-- IMAGEM DO CARTÃO -->
        <img mat-card-image src="assets/img/home-image.svg">
        
        <!-- AÇÕES DO CARTÃO (BOTÕES) -->
        <mat-card-actions>
           
            <button (click)="listarMeusChamados()" mat-button>MEUS CHAMADOS</button>
            
            <button (click)="listarTecnicos()" mat-button>LISTAR TÉCNICOS</button>
        
            <button (click)="listarClientes()" mat-button>LISTAR CLIENTES</button>
            
            <button (click)="listarChamados()" mat-button>LISTAR CHAMADOS</button>
        </mat-card-actions>
    </mat-card-content>
    
</mat-card>
