<div class="container">
  <div class="header-container">
      <h1 class="centralizado">Listando os Chamados</h1>
    <button mat-button routerLink="create">CRIAR NOVO</button>
  </div>

  <mat-form-field>
    <mat-label>Pesquisar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Nome do Técnico, nome do cliente ..." #input>
  </mat-form-field>

  <!-- FILTROS -->
  <table class="filtros-container">
    <tr>
      <td class="filter-row">
        <!-- Filtro por Status -->
        <div class="filtro-titulo centralizado">FILTRAR STATUS</div>
        <mat-radio-group class="radio-group" color="primary">
          <mat-radio-button (click)="orderByStatus(null)" value="all">Todos</mat-radio-button>
          <mat-radio-button (click)="orderByStatus(0)" value="0">Aberto</mat-radio-button>
          <mat-radio-button (click)="orderByStatus(1)" value="1">Em Andamento</mat-radio-button>
          <mat-radio-button (click)="orderByStatus(2)" value="2">Encerrado</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>
    <tr>
      <td class="filter-row">
        <!-- Filtro por Prioridade -->
        <div class="filtro-titulo centralizado">FILTRAR PRIORIDADE</div>
        <mat-radio-group class="radio-group" color="primary">
          <mat-radio-button (click)="orderByPrioridade(null)" value="all">Todas</mat-radio-button>
          <mat-radio-button (click)="orderByPrioridade(0)" value="0">Baixa</mat-radio-button>
          <mat-radio-button (click)="orderByPrioridade(1)" value="1">Média</mat-radio-button>
          <mat-radio-button (click)="orderByPrioridade(2)" value="2">Alta</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>
  </table>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
      </ng-container>

      <ng-container matColumnDef="tecnico">
        <th mat-header-cell *matHeaderCellDef> Técnico </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeTecnico}} </td>
      </ng-container>

      <ng-container matColumnDef="dataAbertura">
        <th mat-header-cell *matHeaderCellDef> Data Abertura </th>
        <td mat-cell *matCellDef="let element"> {{element.dataAbertura}} </td>
      </ng-container>

      <ng-container matColumnDef="prioridade">
        <th mat-header-cell *matHeaderCellDef> Prioridade </th>
        <td mat-cell *matCellDef="let element"> {{retornaPrioridade(element.prioridade)}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{retornaStatus(element.status)}} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="" matTooltip="Exibir">
            <i class="material-icons edit">remove_red_eye</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
