<!-- CONTAINER PRINCIPAL -->
<div class="container">

  <!-- CONTAINER DO TÍTULO DA PÁGINA -->
  <div class="header-container">
    <h1>Listando os Chamados</h1>
    <button mat-button (click)="setActiveButton('todos'); findAll()" [ngClass]="{'active': activeButton === 'todos'}">TODOS</button>
    <button mat-button (click)="setActiveButton('pendentes'); findOpenAndInProgress()" [ngClass]="{'active': activeButton === 'pendentes'}">PENDENTES</button>
    <button mat-button (click)="setActiveButton('encerrados'); findAllClosedProgress()" [ngClass]="{'active': activeButton === 'encerrados'}">ENCERRADOS</button>
  </div>

  <!-- CAMPO DE PESQUISA -->
  <mat-form-field class="search-field">
    <mat-label>Pesquisar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Município, Bairro, nome do cliente e etc ..." #input>
  </mat-form-field>

  <button mat-button>LISTAR MEUS CHAMADOS</button>
  <button mat-button (click)="toggleFiltros()"> OUTROS FILTROS</button>

  <!-- FILTROS PERSONALIZADOS -->
  <table class="filtros-container" *ngIf="mostrarFiltros">
    <tr>
      <td class="filter-row">
        <div class="filtro-titulo centralizado">Filtrar Status</div>
        <mat-radio-group class="radio-group" color="primary">
          <mat-radio-button (click)="orderByStatus(null)" value="all">Todos</mat-radio-button>
          <mat-radio-button (click)="orderByStatus(0)" value="0">Aberto</mat-radio-button>
          <mat-radio-button (click)="orderByStatus(1)" value="1">Em Andamento</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>
    <tr>
      <td class="filter-row">
        <div class="filtro-titulo centralizado">Filtrar Prioridade</div>
        <mat-radio-group class="radio-group" color="primary">
          <mat-radio-button (click)="orderByPrioridade(null)" value="all">Todas</mat-radio-button>
          <mat-radio-button (click)="orderByPrioridade(0)" value="0">Baixa</mat-radio-button>
          <mat-radio-button (click)="orderByPrioridade(1)" value="1">Média</mat-radio-button>
          <mat-radio-button (click)="orderByPrioridade(2)" value="2">Alta</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>

    <tr>
      <td class="filter-row">
        <div class="filtro-titulo centralizado">Filtrar Tipo</div>
        <mat-radio-group class="radio-group" color="primary">
          <mat-radio-button (click)="orderByTipo(null)" value="all">Todos</mat-radio-button>
          <mat-radio-button (click)="orderByTipo(0)" value="0">Instalação</mat-radio-button>
          <mat-radio-button (click)="orderByTipo(1)" value="1">Reparo</mat-radio-button>
          <mat-radio-button (click)="orderByTipo(2)" value="2">Financeiro</mat-radio-button>
          <mat-radio-button (click)="orderByTipo(3)" value="3">Cancelamento</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[200, 50, 100]" showFirstLastButtons></mat-paginator>

  <!-- TABELA -->
  <div class="mat-elevation-z8">

    <!-- BOTÃO PARA CRIAR NOVO CHAMADO -->
    <button mat-button routerLink="create">ABRIR NOVO</button>

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Protocolo</th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'status-aberto': element.status === 0, 'status-encerrado': element.status === 2}">
          {{ formatarId(element.id) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'status-aberto': element.status === 0, 'status-encerrado': element.status === 2}">
          {{element.nomeCliente}}
        </td>
      </ng-container>

      <ng-container matColumnDef="tecnico">
        <th mat-header-cell *matHeaderCellDef> Técnico </th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'status-aberto': element.status === 0, 'status-encerrado': element.status === 2}">
          {{element.nomeTecnico}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dataAbertura">
        <th mat-header-cell *matHeaderCellDef> Data Abertura </th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'status-aberto': element.status === 0, 'status-encerrado': element.status === 2}">
          {{element.dataAbertura}}
        </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'status-aberto': element.status === 0, 'status-encerrado': element.status === 2}">
          {{retornaTipo(element.tipo)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'status-aberto': element.status === 0, 'status-encerrado': element.status === 2}">
          {{retornaStatus(element.status)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/chamados', 'update', element.id]" matTooltip="Editar">
            <i class="material-icons edit">edit</i>
          </a>
          <a [routerLink]="['/chamados', 'read', element.id]" matTooltip="Exibir">
            <i class="material-icons edit">remove_red_eye</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

   <!-- BARRA DE CARREGAMENTO -->
<div *ngIf="isLoading" class="loading-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<!-- MENSAGEM APÓS O CARREGAMENTO -->
<div *ngIf="!isLoading && dataSource.data.length === 0" class="no-data-message">
  Nenhum chamado a exibir.
</div>

  </div>
</div>
