<div class="container">
    <form [formGroup]="loginForm" class="form mat-elevation-z8">

        <h1>Onlike OS</h1>

        <img src="assets/img/login-image.svg" alt="Seja Bem-vindo">

        <mat-form-field class="full-width" appearance="fill" name="email">
            <mat-label>E-mail</mat-label>
            <input
                formControlName="email"
                matInput
                placeholder="Digite seu e-mail">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill" name="senha">
            <mat-label>Senha</mat-label>
            <input
                formControlName="senha"
                type="password"
                matInput
                placeholder="Digite sua senha">
        </mat-form-field>

        <button
        (click)="logar()"
        [disabled]="!loginForm.valid || loading"
        class="full-width mat-elevation-z4"
        mat-stroked-button
        [ngClass]="{'disabled-button': !loginForm.valid || loading}">

        <span *ngIf="!loading">ENTRAR</span>
        <span *ngIf="loading">
          <i class="fa fa-spinner fa-spin"></i> Carregando...
        </span>

      </button>

    </form>
</div>
