<!-- CONTAINER PRINCIPAL -->
<div class="container mat-elevation-z8">

  <!-- TÍTULO DA PÁGINA -->
    <h1>Alterar Chamado</h1>

    <!-- FORMULÁRIO -->
    <form class="form" [formGroup]="form">
  
      <div class="status-prioridade">
        
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Número do Protocolo</mat-label>
          <input matInput [value]="formatarId(chamado.id)" readonly placeholder="Número do Protocolo">
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <mat-label>Selecione o Tipo</mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="0">Instalação</mat-option>
            <mat-option value="1">Reparo</mat-option>
            <mat-option value="2">Financeiro</mat-option>
            <mat-option value="3">Cancelamento</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="0">Aberto</mat-option>
            <mat-option value="1">Em Andamento</mat-option>
            <mat-option value="2">Encerrado</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Prioridade</mat-label>
          <mat-select formControlName="prioridade">
            <mat-option value="0">Baixa</mat-option>
            <mat-option value="1">Média</mat-option>
            <mat-option value="2">Alta</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <mat-form-field class="full-width">
        <mat-label>Técnico Responsável</mat-label>
        <mat-select formControlName="tecnico">
          <mat-option *ngFor="let tec of tecnicos" [value]="tec.id">
            {{ tec.nome }} - CPF: {{ formatarCpf(tec.cpfCnpj) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente">
          <mat-option *ngFor="let cli of clientes" [value]="cli.id">
            {{ cli.nome }}, PPPoE: {{ cli.login }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field class="full-width text" appearance="outline">
        <mat-label>Relato sobre o chamado</mat-label>
        <textarea class="observacoes" matInput formControlName="observacoes"
          placeholder="Exemplo: Cliente entra em contato relatando ..."
          maxlength="1000">
        </textarea>
      </mat-form-field>
    
    <!-- ÁREA DOS PROCEDIMENTOS -->
    <h2>Histórico dos Procedimentos</h2>
    <mat-form-field class="full-width text" appearance="outline">
      <textarea class="procedimentos" matInput formControlName="procedimentos" 
      placeholder="Histórico dos Procedimentos" readonly></textarea>
    </mat-form-field>

     <!-- BOTÃO PARA NOVO PROCEDIMENTO -->
     <button mat-button class="btn-novoProcedimento" (click)="incluirProcedimento()">
      INCLUIR PROCEDIMENTO
    </button>

    <!-- ÁREA PARA NOVOS PROCEDIMENTOS -->
       <mat-form-field class="full-width text" appearance="outline">
         <mat-label>Novo Procedimento</mat-label>
         <textarea class="novoProcedimento" matInput formControlName="novoProcedimento"
         placeholder="Relate o procedimento e selecione incluir procedimento. Após finalizar as alterações, clique em atualizar chamado"
         maxlength="1000">
         </textarea>
       </mat-form-field>
       
  
    <!-- BOTÕES PARA CHAMADO -->
    <button (click)="update()" [disabled]="!validaCampos()" mat-button class="btn-atualizar">ATUALIZAR CHAMADO</button>
    <button mat-button class="btn-cancelar" (click)="cancelar()">CANCELAR ATUALIZAÇÃO</button>
  
    </form>
  
  </div>
  