<!-- CONTAINER PRINCIPAL -->
<div class="container mat-elevation-z8">

  <!-- TÍTULO DA PÁGINA -->
    <h1>Alterar Chamado</h1>

    <!-- FORMULÁRIO -->
    <form class="form" [formGroup]="form">

      <div class="status-prioridade">

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Número do Protocolo</mat-label>
          <input matInput [value]="formatId(chamado.id)" readonly placeholder="Número do Protocolo">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Selecione o Tipo</mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="0">Instalação</mat-option>
            <mat-option value="1">Reparo</mat-option>
            <mat-option value="2">Financeiro</mat-option>
            <mat-option value="3">Cancelamento</mat-option>
            <mat-option value="4">Remoção</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="0">Aberto</mat-option>
            <mat-option value="1">Em Andamento</mat-option>
            <mat-option value="2">Encerrado</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Prioridade</mat-label>
          <mat-select formControlName="prioridade">
            <mat-option value="0">Baixa</mat-option>
            <mat-option value="1">Média</mat-option>
            <mat-option value="2">Alta</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Técnico(a) Responsável</mat-label>
        <mat-select formControlName="tecnico">
          <mat-option *ngFor="let tec of tecnicos" [value]="tec.id">
            {{ tec.nome }} - CPF: {{ formatCpf(tec.cpfCnpj) }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente">
          <mat-option *ngFor="let cli of clientes" [value]="cli.id">
            {{ cli.nome }}, PPPoE: {{ cli.login }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width observacoes" appearance="outline">
        <mat-label>Relato sobre o chamado</mat-label>
        <textarea 
          class="observacoes" 
          matInput 
          formControlName="observacoes"
          placeholder="Digite entre 10 e 500 caracteres. Exemplo: Cliente entra em contato relatando..."
          (input)="updateObservacoesCount()"
          maxlength="500">
        </textarea>
        <mat-hint [ngClass]="{'error-text': observacoesCount < 10 || observacoesCount > 500}">
          Entre 10 e 500 caracteres (<strong>{{ observacoesCount }}</strong>/500)
        </mat-hint>
      </mat-form-field>

    <!-- ÁREA DOS PROCEDIMENTOS -->
    <h2>Histórico dos Procedimentos</h2>
    <div class="campo-justificado">
      <div class="justificado-box">
        {{ form.get('procedimentos')?.value }}
      </div>
      <textarea 
        matInput 
        formControlName="procedimentos"
        class="textarea-oculto" 
        placeholder="Histórico dos procedimentos"
        readonly>
      </textarea>
    </div>

     <!-- BOTÃO PARA NOVO PROCEDIMENTO -->
     <button mat-button class="btn-novoProcedimento" (click)="insertProcedure()">
      INCLUIR PROCEDIMENTO
    </button>

    <!-- ÁREA PARA NOVOS PROCEDIMENTOS -->
<mat-form-field class="full-width text" appearance="outline">
  <mat-label>Novo Procedimento</mat-label>
  <textarea
    class="novoProcedimento"
    matInput
    formControlName="novoProcedimento"
    placeholder="Relate o procedimento e selecione incluir procedimento. Após finalizar as alterações, clique em atualizar chamado."
    (input)="updateProcedimentosCount()"
    maxlength="500">
  </textarea>
  <mat-hint [ngClass]="{'error-text': charCount < 10 || charCount > 500}">
    Entre 10 e 500 caracteres (<strong>{{ charCount }}</strong>/500)
  </mat-hint>
  </mat-form-field>

    <!-- BOTÕES PARA CHAMADO -->
    <button (click)="update()" [disabled]="!validFiel()" mat-button class="btn-atualizar">ATUALIZAR CHAMADO</button>
    <button mat-button class="btn-cancelar" (click)="cancelActions()">CANCELAR ATUALIZAÇÃO</button>

    </form>

  </div>
