<div class="container mat-elevation-z8">

    <h1>Alterar Chamado</h1>
  
    <form class="form" [formGroup]="form">
  
      <!-- CAMPO TÍTULO -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Título do Chamado</mat-label>
        <input matInput formControlName="titulo" placeholder="Exemplo: Troca de ONU" maxlength="60">
      </mat-form-field>
  
      <div class="status-prioridade">
  
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="0">Aberto</mat-option>
            <mat-option value="1">Em Andamento</mat-option>
            <mat-option value="2">Encerrado</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Prioridade</mat-label>
          <mat-select formControlName="prioridade">
            <mat-option value="0">Baixa</mat-option>
            <mat-option value="1">Média</mat-option>
            <mat-option value="2">Alta</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="tecnico">
        <mat-form-field class="full-width">
          <mat-label>Técnico Responsável</mat-label>
          <mat-select formControlName="tecnico">
            <mat-option *ngFor="let tec of tecnicos" [value]="tec.id">
              {{ tec.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="cliente">
        <mat-form-field class="full-width">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="cliente">
            <mat-option *ngFor="let cli of clientes" [value]="cli.id">
              {{ cli.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <mat-form-field class="full-width observacoes" appearance="outline">
        <mat-label>Relato sobre o chamado</mat-label>
        <textarea class="observacoes" matInput formControlName="observacoes"
          placeholder="Exemplo: Cliente entra em contato relatando ..."
          maxlength="1000">
        </textarea>
      </mat-form-field>
  
      <button (click)="update()" [disabled]="!validaCampos()" mat-button class="btn-atualizar">ATUALIZAR</button>
      <button mat-button class="btn-cancelar" (click)="confirmarCancelamento()">CANCELAR</button>
  
    </form>
  
  </div>
  