/* --------- AJUSTES PARA TELAS GRANDES --------- */

.container {
    height: 100%;
}

.sidenav {
    width: 13rem;
    background: rgb(39, 141, 45);
}

img {
    width: 100%;
    height: 12rem;
}

.sidenav i {
    margin: 1rem 0.5rem 1.5rem 0.2rem;
    font-size: 1.254rem;
    color: rgb(255, 255, 255);
}

.link-text {
    font-size: 22.5px;
    font-weight: 50;
    color: rgb(255, 255, 255);
}

.menu {
    margin: 0.5rem 1rem 1rem 1rem;
    color: white;
    background-color: rgb(39, 141, 45);
}

/* --------- AJUSTE RESPONSIVO PARA TELAS MENORES --------- */
@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .sidenav {
        width: 2.6rem;
    }

    .sidenav-content {
        flex: 1;
        padding: 1rem;
    }

    .sidenav img {
        display: none;
    }

    .sidenav .link-text {
        display: none;
    }

    .sidenav a {
        padding: 1rem 0;
        margin-top: 0.7rem;
    }

    .sidenav i {
        font-size: 1.9rem;
        margin-right: 0;
        margin-top: 1rem; /* Corrigido o valor 'rem' */
    }

    .menu {
        display: none;
    }
}

/* --------- AJUSTE RESPONSIVO PARA TELAS MENORES (MAX-WIDTH: 480PX) --------- */
@media (max-width: 480px) {

    .sidenav {
        width: 2.2rem;
    }

    .sidenav i {
        font-size: 1.6rem;
        margin: 0.8rem auto;
        display: block;
        text-align: center;
    }

    .sidenav a {
        padding: 0.6rem 0;
    }

    .sidenav-content {
        padding: 0.5rem;
    }
}
