<mat-drawer-container class="container" autosize>

    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <img src="assets/img/sidenav-image.svg" alt="Onlike OS">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home">
                <i class="material-icons">home</i>
                <span class="link-text">Início</span>
            </a>

            <a mat-list-item routerLink="/">
                <i class="material-icons">space_dashboard</i>
                <span class="link-text">Dashboard</span>
            </a>

            <a mat-list-item routerLink="tecnicos">
                <i class="material-icons">engineering</i>
                <span class="link-text">Técnicos</span>
            </a>

            <a mat-list-item routerLink="/">
                <i class="material-icons">person</i>
                <span class="link-text">Clientes</span>
            </a>

            <a mat-list-item routerLink="/">
                <i class="material-icons">wifi</i>
                <span class="link-text">Rede</span>
            </a>

            <a mat-list-item routerLink="/">
                <i class="material-icons">home_repair_service</i>
                <span class="link-text">Chamados</span>
            </a>

            <a mat-list-item routerLink="/">
                <i class="material-icons">logout</i>
                <span class="link-text">Sair</span>
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">

        <app-header></app-header>

        <button Class="menu" (click)="drawer.toggle()" mat-icon-button>
            
            
            <mat-icon>menu</mat-icon>
            
        </button>

        <router-outlet></router-outlet>

    </div>

</mat-drawer-container>