<div class="container mat-elevation-z8">
  <h1>Visualizar ou Alterar Técnico</h1>

  <form class="form" [formGroup]="form"> 

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Perfil</mat-label>
      <mat-select formControlName="perfis" multiple (selectionChange)="addPerfil($event.value)">
        <mat-option [value]="0">Administrador</mat-option>
        <mat-option [value]="2">Técnico</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput 
        placeholder="Entre 10 e 60 caracteres" 
        formControlName="nome"
        maxlength="60">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput 
        placeholder="Ex: 000.000.000-00 (apenas números)" 
        formControlName="cpf" 
        mask="000.000.000-00" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput
        placeholder="Digite o e-mail" 
        formControlName="email">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Celular</mat-label>
      <input matInput 
        placeholder="Ex: (00) 00000-0000 (apenas números)" 
        formControlName="celular" 
        mask="(00) 00000-0000" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput 
        placeholder="Entre 8 e 64 caracteres"
        formControlName="senha" 
        maxlength="64"
        type="password">
    </mat-form-field>

    <button (click)="update()" [disabled]="!validaCampos()" mat-button class="btn-criar">SALVAR</button>
    <button routerLink="../" mat-button class="btn-cancelar">CANCELAR</button>

  </form>
</div>
