<!-- CONTAINER PRINCIPAL -->
<div class="container mat-elevation-z8">
  
    <!-- TÍTULO DA PÁGINA -->
  <h1>Exibir ou Alterar Técnico</h1>

  <!-- FORMULÁRIO -->
  <form class="form" [formGroup]="form">

    <section>
      <mat-checkbox
        formControlName="isAdmin"
        class="margin"
        color="primary">Perfil de Administrador</mat-checkbox>
    </section>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput
        formControlName="nome"
        placeholder="Entre 10 e 60 caracteres."
        maxlength="60">
    </mat-form-field>

    <div class="cpf-container">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Digite apenas números." formControlName="cpfCnpj" 
          mask="000.000.000-00" (blur)="checkCpf()">
      </mat-form-field>
      <small class="cpf-message" *ngIf="cpfMessage"
        [ngStyle]="{ 'color': cpfMessage === 'CPF disponível!' ? 'green' : 'red' }">
        {{ cpfMessage }}
      </small>
    </div>

    <div class="email-container">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput 
          placeholder="Digite um e-mail válido." 
          formControlName="email" 
          (blur)="checkEmail()"
          maxlength="100">
      </mat-form-field>
      <small class="email-message" *ngIf="emailMessage"
        [ngStyle]="{ 'color': emailMessage === 'E-mail disponível!' ? 'green' : 'red' }">
        {{ emailMessage }} 
      </small>
    </div>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Celular</mat-label>
      <input matInput
        placeholder="digite apenas números."
        formControlName="celular"
        mask="(00) 00000-0000" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput
        placeholder="digite apenas números."
        formControlName="telefone"
        mask="(00) 0000-0000" />
    </mat-form-field>

    <button mat-button class="btn-novaSenha" (click)="habilitarNovaSenha()">NOVA SENHA</button>

    <div *ngIf="mostrarNovaSenha" class="nova-senha-container">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nova Senha</mat-label>
        <input matInput formControlName="novaSenha" 
               placeholder="Digite uma senha válida." maxlength="64" 
               (focus)="showPasswordWarning()">
        <mat-hint *ngIf="passwordMessage" class="senha-info">
          {{ passwordMessage }}
        </mat-hint>
      </mat-form-field>
    </div>

    <!-- BOTÕES DE AÇÃO -->
    <button (click)="update()" [disabled]="!validField()" mat-button class="btn-atualizar">ATUALIZAR</button>
    <button mat-button class="btn-cancelar" (click)="cancelActions()">CANCELAR</button>

   </form>

</div> 