<!-- CONTAINER PRINCIPAL -->
<div class="container mat-elevation-z8">
  
  <!-- TÍTULO DA PÁGINA -->
  <h1>Deletar Técnico</h1>

  <!-- FORMULÁRIO -->
  <form class="form" [formGroup]="form">

    <section>
      <mat-checkbox
        formControlName="isAdmin"
        class="margin"
        color="primary">Perfil de Administrador</mat-checkbox>
    </section>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput
        placeholder="Entre 10 e 60 caracteres"
        formControlName="nome">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput
        placeholder="Ex: 000.000.000-00 (digite apenas números)"
        formControlName="cpf"
        mask="000.000.000-00"/>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput
        placeholder="Digite o e-mail"
        formControlName="email">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Celular</mat-label>
      <input matInput
        placeholder="Ex: (00) 00000-0000 (digite apenas números)"
        formControlName="celular"
        mask="(00) 00000-0000" >
    </mat-form-field>

    <!-- BOTÕES DE AÇÃO -->
    <button (click)="delete()" mat-button class="btn-deletar">DELETAR</button>
    <button mat-button class="btn-cancelar" (click)="cancelar()">CANCELAR</button>

   </form>

</div>