<!-- CONTAINER PRINCIPAL -->
<div class="container mat-elevation-z8">
  
  <!-- TÍTULO DA PÁGINA -->
  <h1>Novo(a) Cliente</h1>

  <!-- FORMULÁRIO DE CADASTRO -->
  <form class="form" [formGroup]="form">
    
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" placeholder="Entre 10 e 60 caracteres." maxlength="60">
    </mat-form-field>

    <div class="login-container">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Login/Contrato</mat-label>
        <input matInput
          formControlName="login"
          (blur)="verifyLogin()"
          placeholder="Login PPPoE ou número do contrato."
          maxlength="60">
      </mat-form-field>
      <small class="login-message" *ngIf="loginMessage"
        [ngStyle]="{ 'color': loginMessage === 'Login disponível!' ? 'green' : 'red' }">
        {{ loginMessage }}
      </small>
    </div>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Tipo de Cliente</mat-label>
      <mat-select formControlName="tipoCliente" (selectionChange)="onTipoClienteChange()">
        <mat-option value="Pessoa Física">Pessoa Física</mat-option>
        <mat-option value="Pessoa Jurídica">Pessoa Jurídica</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="cpf-container">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>CPF/CNPJ</mat-label>
        <input matInput placeholder="digite apenas números." formControlName="cpfCnpj" 
          [mask]="cpfCnpjMask" (blur)="validCpfCnpj()">
      </mat-form-field>
      <small class="cpf-message" *ngIf="cpfCnpjInvalido">
        CPF ou CNPJ inválido!
      </small>
    </div>

    <div class="email-container">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput 
          placeholder="Digite um e-mail válido." 
          formControlName="email" 
          (blur)="checkEmail()"
          maxlength="100">
      </mat-form-field>
      <small class="email-message" *ngIf="emailMessage"
        [ngStyle]="{ 'color': emailMessage === 'E-mail disponível!' ? 'green' : 'red' }">
        {{ emailMessage }} 
      </small>
    </div>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Celular</mat-label>
      <input matInput placeholder="digite apenas números." formControlName="celular" mask="(00) 00000-0000">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="digite apenas números." formControlName="telefone" mask="(00) 0000-0000">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CEP</mat-label>
      <input matInput placeholder="digite apenas números." formControlName="cep" mask="00000-000">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Logradouro</mat-label>
      <input matInput placeholder="Exemplo: Rua Nezinho Ferreira." formControlName="logradouro" maxlength="100">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Número</mat-label>
      <input matInput placeholder="Exemplo: 761-A." formControlName="numero" maxlength="15">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Complemento</mat-label>
      <input matInput placeholder="Exemplo: Apartamento 405." formControlName="complemento" maxlength="60">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Bairro</mat-label>
      <input matInput placeholder="Exemplo: Lava Pés." formControlName="bairro" maxlength="60">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Município</mat-label>
      <input matInput placeholder="Exemplo: Santo Antônio do Aventureiro." formControlName="municipio" maxlength="60">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Estado (UF)</mat-label>
      <mat-select formControlName="uf">
        <mat-option *ngFor="let estado of estadosBrasileiros" [value]="estado.sigla">
          {{ estado.nome }} ({{ estado.sigla }})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Localização</mat-label>
      <input matInput formControlName="coordenada" placeholder="Link ou coordenada em texto." maxlength="100">
    </mat-form-field>

    <!-- BOTÕES DE AÇÃO -->
    <button (click)="create()" [disabled]="!validField()" mat-button class="btn-criar">CRIAR</button>
    <button mat-button class="btn-cancelar" (click)="cancelActions()">CANCELAR</button>

  </form>
</div>
