<div class="container mat-elevation-z8">

  <h1>Novo Cliente</h1>

  <form class="form" [formGroup]="form">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput
        formControlName="nome"
        placeholder="Entre 10 e 60 caracteres"
        maxlength="60">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput
        placeholder="Ex: 000.000.000-00 (digite apenas números)"
        formControlName="cpf"
        mask="000.000.000-00" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput
        placeholder="Digite o e-mail"
        formControlName="email">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Celular</mat-label>
      <input matInput
        placeholder="Ex: (00) 00000-0000 (digite apenas números)"
        formControlName="celular"
        mask="(00) 00000-0000" />
    </mat-form-field>

    <button (click)="create()" [disabled]="!validaCampos()" mat-button class="btn-criar">CRIAR</button>

    <button mat-button class="btn-cancelar" (click)="confirmarCancelamento()">CANCELAR</button>

  </form>
</div>
