/* ESTILOS GLOBAIS */
@import '../node_modules/ngx-toastr/toastr.css';
@import 'theme.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* PERSONALIZANDO A COR DOS RÓTULOS (MAT-LABEL) */
.mat-mdc-form-field .mdc-floating-label {
  color: #000 !important;
}

/* PERSONALIZANDO A BORDA DOS INPUTS E A COR DO TEXTO */
.mat-mdc-form-field {
  --mdc-filled-text-field-caret-color: rgb(39, 141, 45);
  --mdc-filled-text-field-focus-label-text-color: rgb(39, 141, 45);
  --mdc-filled-text-field-focus-active-indicator-color: rgb(39, 141, 45);
}

/* PERSONALIZANDO A COR DO TEXTO EM INPUTS, TEXTAREA E MAT-SELECT */
.mat-mdc-form-field input,
.mat-mdc-form-field textarea,
.mat-mdc-select-value,
.mat-mdc-option {
  color: #000 !important;
}

/* PERSONALIZANDO A OPÇÃO SELECIONADA NO MAT-SELECT */
.mat-mdc-option.mat-mdc-option-selected {
  background-color: transparent !important;
}

/* QUANDO O CAMPO ESTÁ EM FOCO */
.mat-mdc-form-field.mat-mdc-form-field--focused .mdc-floating-label,
.mat-mdc-form-field.mat-mdc-form-field--focused .mat-mdc-select-value {
  color: rgb(39, 141, 45) !important;
}

/* REMOVER O FUNDO PADRÃO DO ITEM SELECIONADO */
.mat-mdc-select:focus .mat-mdc-select-value,
.mat-mdc-option.mat-mdc-option-selected {
  background-color: transparent !important;
}