/* ESTILOS GLOBAIS */
@import '../node_modules/ngx-toastr/toastr.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Personalizando a cor dos rótulos (mat-label) */
.mat-mdc-form-field .mdc-floating-label {
  color: #000 !important;
}

/* Personalizando a borda dos inputs e a cor do texto */
.mat-mdc-form-field {
  --mdc-filled-text-field-caret-color: rgb(39, 141, 45);
  --mdc-filled-text-field-focus-label-text-color: rgb(39, 141, 45);
  --mdc-filled-text-field-focus-active-indicator-color: rgb(39, 141, 45);
}

.mat-mdc-form-field input,
.mat-mdc-form-field textarea,
.mat-mdc-select-value {
  color: #000 !important; /* Cor preta do texto */
}

/* Personalizando as opções dentro do mat-select */
.mat-mdc-option {
  color: #000 !important; /* Cor do texto das opções */
}

.mat-mdc-option.mat-mdc-option-selected {
  color: #000 !important; /* Texto preto */
  background-color: transparent !important; /* Fundo transparente */
}

.mat-mdc-option.mat-mdc-option-selected:hover {
  color: #000 !important; /* Texto preto na opção selecionada em hover */
}

/* Quando o campo está em foco */
.mat-mdc-form-field.mat-mdc-form-field--focused .mdc-floating-label,
.mat-mdc-form-field.mat-mdc-form-field--focused .mat-mdc-select-value {
  color: rgb(39, 141, 45) !important; /* Cor verde para o label no foco e texto selecionado */
}

/* Remover o fundo azul do item selecionado */
.mat-mdc-select:focus .mat-mdc-select-value,
.mat-mdc-option.mat-mdc-option-selected {
  background-color: transparent !important; /* Remover o fundo azul padrão */
  color: #000 !important; /* Definir a cor preta */
}

