<!-- CONTAINER PRINCIPAL -->
<div class="container mat-elevation-z8">

  <!-- TÍTULO DA PÁGINA -->
  <h1>Exibir Chamado</h1>

  <!-- FORMULÁRIO -->
  <form class="form" [formGroup]="form">

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Número do Protocolo</mat-label>
      <input matInput formControlName="id" readonly placeholder="Número do Protocolo">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Tipo de Chamado</mat-label>
      <input placeholder="Erro ao carregar o tipo" matInput [value]="getTipoChamadoLabel(form.get('tipo')?.value)" readonly>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Data de Abertura</mat-label>
      <input matInput formControlName="dataAbertura" readonly title="Data Abertura">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline" *ngIf="form.get('dataFechamento')?.value">
      <mat-label>Data de Fechamento</mat-label>
      <input matInput formControlName="dataFechamento" readonly title="Data Fechamento">
    </mat-form-field>

    <div class="status-prioridade">
      
      <mat-form-field>
        <mat-label>Status</mat-label>
        <input placeholder="Erro ao carregar o status" matInput [value]="getStatusLabel(form.get('status')?.value)" readonly>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Prioridade</mat-label>
        <input placeholder="Erro ao carregar a prioridade" matInput [value]="getPrioridadeLabel(form.get('prioridade')?.value)" readonly>
      </mat-form-field>
      
    </div>

    <mat-form-field class="full-width">
      <mat-label>Técnico(a) Responsável</mat-label>
      <input matInput formControlName="tecnico" readonly title="Nome do técnico responsável">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Cliente</mat-label>
      <input matInput formControlName="cliente" readonly title="Nome do cliente">
    </mat-form-field>

    <mat-form-field class="full-width text" appearance="outline">
      <mat-label>Dados do Cliente</mat-label>
      <textarea class="dadosCliente" matInput formControlName="dadosCliente" readonly
        placeholder="O cliente não possui informações de endereço e contato.">
      </textarea>
    </mat-form-field>

    <!-- BOTÃO DE ABRIR COORDENADAS NO GOOGLE MAPS (Agora dentro do formulário) -->
    <div *ngIf="chamado.cliente?.coordenada" class="botao-coordenadas-container">
      <button mat-raised-button color="primary" (click)="openGoogleMaps(chamado.cliente.coordenada)">
        ABRIR NO MAPA
      </button>
    </div>

    <mat-form-field class="full-width text" appearance="outline">
      <mat-label>Relato sobre o chamado</mat-label>
      <textarea matInput formControlName="observacoes" readonly
                placeholder="Descreva o relato sobre o chamado"
                title="Relato sobre o chamado">
      </textarea>
    </mat-form-field>

     <!-- ÁREA DOS PROCEDIMENTOS -->
    <h2>Histórico dos Procedimentos</h2>
    <div class="campo-justificado">
      <div class="justificado-box">
        {{ form.get('procedimentos')?.value }}
      </div>
      <textarea 
        matInput 
        formControlName="procedimentos"
        class="textarea-oculto" 
        placeholder="Histórico dos procedimentos"
        readonly>
      </textarea>
    </div>

    <!-- BOTÃO VOLTAR -->
    <div class="button-container">
      <button mat-button class="btn-voltar" (click)="return()">VOLTAR</button>
    </div>
  </form>
</div>
