<!-- CONTAINER PRINCIPAL -->
<div class="container mat-elevation-z8">
  
  <!-- TÍTULO DA PÁGINA -->
  <h1>Visualizar Chamado</h1>

  <!-- FORMULÁRIO -->
  <form class="form" [formGroup]="form">

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Número do Protocolo</mat-label>
      <input matInput formControlName="id" readonly title="id">
    </mat-form-field>

    <div class="tipo">

      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option value="0">Instalação</mat-option>
          <mat-option value="1">Reparo</mat-option>
          <mat-option value="2">Financeiro</mat-option>
          <mat-option value="3">Cancelamento</mat-option>
        </mat-select>
      </mat-form-field>
      
      </div>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Data Abertura</mat-label>
      <input matInput formControlName="dataAbertura" readonly title="Data Abertura">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline" *ngIf="form.get('dataFechamento')?.value">
      <mat-label>Data Fechamento</mat-label>
      <input matInput formControlName="dataFechamento" readonly title="Data Fechamento">
    </mat-form-field>

    <div class="status-prioridade">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" class="readonly-select" title="Status do chamado">
          <mat-option value="0">Aberto</mat-option>
          <mat-option value="1">Em Andamento</mat-option>
          <mat-option value="2">Encerrado</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Prioridade</mat-label>
        <mat-select formControlName="prioridade" class="readonly-select" title="Prioridade do chamado">
          <mat-option value="0">Baixa</mat-option>
          <mat-option value="1">Média</mat-option>
          <mat-option value="2">Alta</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width">
      <mat-label>Técnico Responsável</mat-label>
      <input matInput formControlName="tecnico" readonly title="Nome do técnico responsável">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Cliente</mat-label>
      <input matInput formControlName="cliente" readonly title="Nome do cliente">
    </mat-form-field>
    
    <mat-form-field class="full-width text" appearance="outline">
      <mat-label>Dados do Cliente</mat-label>
      <textarea class="dadosCliente" matInput formControlName="dadosCliente" readonly
        placeholder="O cliente não possui informações de endereço e contato.">
      </textarea>
    </mat-form-field> 
    
    <!-- BOTÃO DE ABRIR COORDENADAS NO GOOGLE MAPS (Agora dentro do formulário) -->
    <div *ngIf="chamado.cliente?.coordenada" class="botao-coordenadas-container">
      <button mat-raised-button color="primary" (click)="abrirNoGoogleMaps(chamado.cliente.coordenada)">
        ABRIR NO MAPA
      </button>
    </div>

    <mat-form-field class="full-width text" appearance="outline">
      <mat-label>Relato sobre o chamado</mat-label>
      <textarea matInput formControlName="observacoes" readonly
                placeholder="Descreva o relato sobre o chamado"
                title="Relato sobre o chamado">
      </textarea>
    </mat-form-field>

     <!-- ÁREA DOS PROCEDIMENTOS -->
     <h2>Histórico dos Procedimentos</h2>
     <mat-form-field class="full-width text" appearance="outline">
       <textarea class="procedimentos" matInput formControlName="procedimentos" 
       placeholder="Histórico dos Procedimentos" readonly></textarea>
     </mat-form-field>

    <!-- BOTÃO VOLTAR -->
    <div class="button-container">
      <button mat-button class="btn-voltar" (click)="voltar()">VOLTAR</button>
    </div>

  </form>
</div>
