/* --------- AJUSTES PARA TELAS GRANDES --------- */

/* ESTILIZA A CLASSE .CONTAINER */
.container {
    width: 90%; /* Define a largura do container para ocupar 90% da largura da tela */
    margin: auto; /* Centraliza o container horizontalmente */
}

/* ESTILIZA A TABELA */
table {
    width: 100%; /* Faz a tabela ocupar toda a largura disponível do container */
}

/* DEFINE O CAMPO DE FORMULÁRIO DO ANGULAR MATERIAL */
mat-form-field {
    width: 100%; /* Faz o campo de formulário ocupar toda a largura disponível */
}

/* ESTILO PARA OS BOTÕES */
button {
    background-color: rgb(39, 141, 45); /* Define um tom verde escuro para o fundo do botão */
    color: rgb(255, 255, 255)!important; /* Define a cor do texto como branco e usa !important para garantir que não seja sobrescrito */
    border-radius: 5px; /* Arredonda as bordas do botão */
    padding: 0.5rem 1.5rem; /* Define o espaçamento interno do botão (vertical e horizontal) */
    font-size: 0.8rem; /* Ajusta o tamanho da fonte */
    cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
    margin: 0 1.5rem 1.5rem 0; /* Adiciona espaçamento externo à direita e abaixo do botão */
}

/* ESTILIZA O TÍTULO PRINCIPAL (H1) */
h1 {
    width: 100%; /* Faz o título ocupar toda a largura disponível */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 1.5rem; /* Espaçamento inferior para separar o título dos outros elementos */
}

/* ESTILIZA O ÍCONE VISUALIZAR */
.edit {
    color: rgb(39, 141, 45);
    margin-right: 1rem; /* Adiciona espaço à direita */
}

/* ESTILIZA O ÍCONE EXCLUIR */
.delete {
    color: rgb(207, 80, 63);
}
   